body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:200vh;
}
.main-content{
    /* margin: 60px auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin: 40px ; */
   width: 400px;
   /* height: 1010px; */
   padding: 12px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 10px;
   flex-direction: column;
}
.section-1{
    margin-top: 12px;

}
.image1{
    width: 390px;
    height: 200px;
    border-radius: 10px;

}

.section-2 p{
    font-size: 10px;
}
h2{
    margin-top: 12px;
}
.p{
font-size: 10px;
word-spacing: 0.2px;
}
.section-2{
    
    width: 380px;
    
    height: 100px;
    margin-top: 20px;
}
.section-2 li{
    font-size: 10px;
}
.section-3{
    background-color: rgb(248, 237, 250) ;
    width: 380px;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
}
.section-3 li{
    font-size: 10px;
    word-spacing: 0.2px;
}
.section-4{
    width: 380px;
    height: 120px;
    
}
.section-4 li{
    font-size: 10px;
    word-spacing: 0.2px;
}

.section-5{
    width: 390px;
    height: 200px;
    
}
.section-5 li{
    font-size: 10px;
    word-spacing: 0.5px;
    margin-left: 0px;
}

.section-6 p{
    font-size: 10px;
    word-spacing: 0.4;
}
.section-6{
    width: 380px;
}
.d1{
    align-items: center;
    display: flex;
    gap: 200px;
}
.d2{
    padding: 10px;
    
}
.secti6-d4{
    margin-left: 1px;
    font-size: 10px;
    word-spacing: 0.4;
}
h3  {
    color:hsl(15, 100%, 21%);
}
.d{
    color:hsl(15, 100%, 21%);
}

h5{
    color:rgb(128, 5, 83)
}
.footer {
    background-color: rgb(131, 131, 131);
    color: hsl(219, 29%, 14%);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.attribution a {
    color: blue;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: none;
    color: aqua;
}
